@{
    ViewData["Title"] = "Softjourn";
}

<div class="Info-container">

    <div class="Video-container">
        <video id="myVideo" src="~/media/new york.mp4" autoplay muted width="100%" style="border-radius: 10px"></video>

        <div class="text-overlay">
            <div class="text-overlay-container">
                <h1>
                    You Have Ideas.
                    We Bring Them to Life.
                </h1>
                <p>
                    We're a full-cycle consulting and software development company, with expert product teams <br/>
                    experienced in Finance and Media & Entertainment, with a special emphasis on Ticketing.
                </p>

                <a href="javascript:void(0);" onclick="scrollToSection(1)">LERN MORE</a>
            </div>
            
        </div>

    </div>

    <div id="WhoWeAre-container" class="WhoWeAre-container">
        <h2>Who We Are</h2>
        <p>
            At Softjourn, we turn ideas into working software and are passionate about our work. Our team specializes in creating software for fintech, event ticketing, and media companies. We know your industry and speak the same language.

            We work closely with our clients from start to finish. Our engineers use their skills and industry knowledge to build software that meets your current needs and helps you grow. As technology changes, we proactively keep up with new developments to ensure your business stays competitive.

            Whether you want to improve or create new services, we're here to lighten your load. By partnering with us, you can concentrate on running your business while we handle the technical details.
            <br />
            <b>Full-cycle software development company trusted by startups and Fortune 1000 companies.</b>
        </p>

    </div>

    
    <div class="WhatWeOffer-container">

        <h2>What We Offer</h2>

        <p>
            Our high-performing services help businesses embrace innovation and tackle the challenges of today's digital world. Our development team leverages Agile methodologies to deliver scalable solutions that meet your specific business needs.
        </p>

        <div class="WhatWeOffer-container-card">
            <a href="https://softjourn.com/it-consulting-services" class="WhatWeOffer-card">
                <div>
                    <h5>Consulting</h5>
                    <p>Work closely with our business consultants and software developers, who stay ahead of the latest tech and industry trends. We collaborate with your team to identify opportunities, devise optimal strategies, and chart a path to success that aligns with your product development goals.</p>
                </div>
            </a>

            <a href="https://softjourn.com/project-discovery-phase" class="WhatWeOffer-card">
                <div>
                    <h5>Idea/Discovery Phase</h5>
                    <p>Our Discovery Phase examines your business objectives, target users, and technical requirements. Through collaborative workshops and thorough research, we define a clear vision and roadmap for your software project, ensuring quality assurance from the outset.</p>
                </div>
            </a>

            

            <a href="https://softjourn.com/research-and-development-services" class="WhatWeOffer-card">
                <div>
                    <h5>Research & Development</h5>
                    <p>Our R&D team stays on top of emerging technologies and industry trends. We conduct thorough research and experimentation to identify innovative solutions that can give your business a competitive edge, with a focus on automation and scalability.</p>
                </div>
            </a>
            

            <a href="https://softjourn.com/api-development-services" class="WhatWeOffer-card">
                <div>
                    <h5>Client Services</h5>
                    <p>We engineer high-performance, scalable APIs that power modern software ecosystems. Our secure, well-documented APIs seamlessly integrate with diverse systems, enabling efficient data exchange and streamlining the app development process for both web and mobile applications.</p>
                </div>
            </a>
            

            <a href="https://softjourn.com/digital-product-design-services" class="WhatWeOffer-card">
                <div>
                    <h5>Design</h5>
                    <p>Our Product Design services help you create intuitive, user-centric software experiences. We combine deep user insights, innovative design thinking, and cutting-edge technology to craft engaging and delightful products that meet your business needs.</p>
                </div>
            </a>
            
            <a href="https://softjourn.com/custom-software-development-services" class="WhatWeOffer-card">
                <div>
                    <h5>Development</h5>
                    <p>Our development team collaborates with you from ideation to deployment, transforming your ideas into powerful, purpose-built applications. We employ rigorous software testing and quality assurance practices throughout the development cycle. Agile approach ensures your custom software meets your specifications and exceeds expectations.</p>
                </div>
            </a>
            
        </div>

    </div>

    <div id="contact" class="contact">
        <h2>Contact us</h2>
        <div class="contact-info">
            <div class="WriteToUs-container CallUs-container">
                <h3>Call us</h3>
                <div class="phones">
                    <div class="country-flag usa"><strong>Fremont</strong></div>
                    Phone: <a href="tel:+15107441528" itemprop="telephone">+1.510.744.1528</a><br>
                    Tollfree: <a href="tel:+1.888.763.8576">+1.888.SOFTJRN</a> (<a href="tel:+1.888.763.8576">+1.888.763.8576</a>)
                    <br>
                    Fax: <a href="tel:+18153012772" itemprop="faxNumber">+1.815.301.2772</a><br>
                </div>

                <div class="phones">
                    <div class="country-flag ukraine"><strong>Ivano-Frankivsk</strong></div>
                    HR: <a href="tel:+380956635883">+38 (095) 663-58-83</a><br>
                    Phone: <a href="tel:+15109436217">+1.510.943.6217 </a> (US line)<br>

                </div>
                <div class="phones">
                    <div class="country-flag poland"><strong>Wroclaw</strong></div>
                    HR: <a href="tel:+48788644308">+48 788 644 308</a><br>
                    Office: <a href="tel:+48713073527">+48 71 307 35 27</a>
                </div>
                <div class="phones">
                    <div class="country-flag brazil"><strong>Brazil</strong></div>
                    Phone: <a href="tel:+55 11 94078-3166">+55 11 94078-3166</a><br>
                </div>
            </div>

            <div class="WriteToUs-container">
                <h3>Write to us</h3>
                <h5>HR department</h5>
                <div>

                    UA:
                    <a href="mailto:hr-ua@softjourn.com" target="_top">hr-ua@softjourn.com</a>
                    <br />

                    PL:
                    <a href="mailto:hr-pl@softjourn.com" target="_top">hr-pl@softjourn.com</a>
                    <br />

                    BR:
                    <a href="mailto:hr-br@softjourn.com" target="_top">hr-br@softjourn.com</a>

                </div>
                <h5 class="contact-title"><strong>Internship/Practice Requests</strong></h5>
                <div class="contact-info">
                    <a href="mailto:internship@softjourn.com" target="_top">internship@softjourn.com</a><br>
                </div>
            </div>
        </div>
        
        
    </div>

    
</div>

<script>
    var video = document.getElementById('myVideo');


    video.currentTime = 2;

    video.play();

    setTimeout(function() {
      video.pause();
    }, 120000);

    function scrollToSection(i) {
        if(i){
            document.getElementById("WhoWeAre-container").scrollIntoView({ behavior: "smooth" });
        }else{
            document.getElementById("contact").scrollIntoView({ behavior: "smooth" });
        }
      
    }

</script>

